
.topnav {
  background-color: #fff;
  overflow: auto;
  padding-left: 1em;
  height: 100%;
}

.topnav a {
  float: left;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial;
}

.topnav a:hover {
  color: #D4988E;
}

.topnav a.active {
  background-color: #fff;
  color: #D4988E;
}

.topnav-right {
  float: right;
  padding-right: 1em;
}
